{% extends 'main/layout/base.html' %}
{% block content %}
    <div class="container">
        <h3>
            Add expertise:
        </h3>
        <form action="{% url 'profile:add_expertise' %}" method="POST">
            {% csrf_token %}
            <div class="row form-group">
                <input type="text" class="input-sm col-xs-12 pull-left" placeholder="Skill" name="skill">
                <select class="col-xs-12 form-control pull-right" name="level">
                    <option>Low</option>
                    <option>Medium</option>
                    <option>High</option>
                </select>
            </div>
            <div class="row">
                <input type="submit" class="btn btn-confirm">
            </div>
        </form>
    </div>
    <div class="table-responsive">
        <table class="table table-striped" align="center">
            <thead>
                <th> No </th>
                <th> Skill </th>
                <th> Expertise </th>
                <th></th>
            </thead>
            <tbody>
                {% for expertise in expertises %}
                <tr>
                    <td> {{ forloop.counter }}</td>
                    <td> {{ expertise.skill }}</td>
                    {% if expertise.level == "Low" %}
                        <td style="color:darkred">Low</td>
                    {% elif expertise.level == "Medium" %}
                        <td style="color:darkgreen">Medium</td>
                    {% else %}
                        <td style="color:black">High</td>
                    {% endif %}
                    <td>
                        <a href="{% url 'profile:delete_expertise' expertise.id %}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block script %}
<script>
    document.getElementById("profile").className = "active";
</script>
{% endblock %}