{% extends 'main/layout/base.html' %}

{% block content %}
<div class = "container">

    <div class="row">
            <form id = "myRadio">
                    <label class="radio-inline">
                      <input type="radio" name="optradio" id="filter_0" onclick="setFilter(this.value)" value="0">Name
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="optradio" id="filter_1" onclick="setFilter(this.value)" value="1">NPM
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="optradio" id="filter_2" onclick="setFilter(this.value)" value="2">Batch
                    </label>
                    <label class="radio-inline">
                            <input type="radio" name="optradio"  id="filter_3" onclick="setFilter(this.value)" value="3">Expertise
                          </label>
                  </form>

                </div>
                <div class = "row">
                    <input style = "margin-top: 10px;" type="text" placeholder="Search Something" class = "form-control" id = "text" onKeyUp="filter()" size="100%">
                </div>
            </form>
    </div>

    <div class = "row>">
        <table class="table table-hover display"  id="example" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>NPM</th>
                    <th>Batch</th>
                    <th>Expertise</th>
                </tr>
            </thead>
            <tbody>
                {% for friend_data in friend_dict %}
                    <tr>
                        <td class="name">{{ friend_data.friend_name }}</td>
                        <td class="npm">{{ friend_data.npm }}</td>
                        <td class="batch">{{ friend_data.angkatan }}</td>
                        <td class="expertise">{{ friend_data.keahlian }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
</div>

</div>
{% endblock %}
{% block script %}

<script>
document.getElementById('friends').className = 'active';

var selectedValue = 0;

function setFilter(value) {
    selectedValue = value;
}

function filter() {
    tr = document.getElementsByTagName('tr');
    needle = document.getElementById("text").value.toUpperCase();
    for (var i=1;i<tr.length; i++) {
        td = tr[i].getElementsByTagName('td')[selectedValue];
        if (td) {
            if (td.innerHTML.toUpperCase().indexOf(needle) > -1) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
        }
    }

}

</script>

{% endblock %}

