{% extends 'main/layout/base.html' %}
{% block content %}
    <div class="table-responsive">
        <table class="table table-striped" align="center">
            <thead>
                <th> No </th>
                <th> Nama Mata Kuliah </th>
                <th> Kode Kelas </th>
                <th> Nilai </th>
                <th> Term </th>
            </thead>
            <tbody>
                {% for history in histories %}
                <tr>
                    <td> {{ forloop.counter }}</td>
                    <td> {{ history.kelas.nm_mk_cl.nm_mk }}</td>
                    <td> {{ history.kelas.kd_kls }}</td>
                    <td> {{ history.nilai }}</td>
                    <td> {{ history.term }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block script %}
<script>
    document.getElementById("history").className = "active"
</script>
{% endblock %}