{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>
        {% block title %} Tugas 2 PPW {% endblock %}
    </title>


</head>
<body>

<content>
    <div class="table-responsive">
        <table class="table table-striped" align="center">
            <thead>
                <th> No </th>
                <th> Participant </th>
                <th> Profile </th>
            </thead>
            <tbody>
                {% for profile in profiles %}
                <tr>
                    <td> {{ forloop.counter }}</td>
                    <td> {{ profile.first_name }} {{ profile.last_name }}</td>
                    <td> <a href="{% url 'main:profile' profile.user.npm %}" class="btn btn-primary">View profile</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="container">

        <a href="{% url 'auth:login' %}" class="col-xs-12 btn btn-primary">Login</a>
    </div>
</content>

<!-- Jquery n Bootstrap Script -->
</body>
</html>

