{% extends 'main/layout/base.html' %}

{% block content %}
    <h3>First Name</h3>
    <p>{{ first_name }}</p>
    <br/>

    <h3>Last Name</h3>
    <p>{{ last_name }}</p>
    <br/>

    <h3>NPM</h3>
    <p>{{ npm }}</p>
    <br/>

    <h3>Batch</h3>
    <p>{{ batch }}</p>
    <br/>

    <h3>Email</h3>
    <p>{{ email }}</p>
    <br/>

    <h3>LinkedIn Profile</h3>
    <p>{{ linkedin_url }}</p>
    <br/>

    <h3>Expertise</h3>
    {% if own_profile %}
        <a href="{% url 'main:expertise_settings' %}" class="btn btn-primary">Expertises setting</a>
    {% endif %}
    <div class="table-responsive">
        <table class="table table-striped" align="center">
            <thead>
                <th> No </th>
                <th> Skill </th>
                <th> Expertise </th>
            </thead>
            <tbody>
                {% for expertise in expertises %}
                <tr>
                    <td> {{ forloop.counter }}</td>
                    <td> {{ expertise.skill }}</td>
                    {% if expertise.level == "Low" %}
                        <td style="color:darkred">Low</td>
                    {% elif expertise.level == "Medium" %}
                        <td style="color:darkgreen">Medium</td>
                    {% else %}
                        <td style="color:black">High</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <br/>


{% endblock %}

{% block script %}
<script>
    document.getElementById("profile").className = "active"
</script>
{% endblock %}