{% extends 'main/layout/base.html' %}
{% load staticfiles %}
{% block head_script %}
<script type="text/javascript" src="//platform.linkedin.com/in.js">
    api_key:   81axywudtmoawd
    onLoad:    onLoad
    authorize: true
    lang:      en_US
</script>
{% endblock %}

{% block content %}
    <form action="{% url 'profile:update_profile' %}" method="POST">
        {% csrf_token %}
        <div class="container" id="form">
            <div class="row">
                <div id="linkedin-button" class="col-xs-5 pull-left">
                    <h3>
                        Login to LinkedIn to continue editing
                    </h3>
                    <script type="in/Login"></script>
                </div>
                <img id="pp-image" src="{% static 'img/PP.jpg' %}" class="col-xs-5 pull-right" style="max-width:250px">
                <input type="text" id="profile-picture-url" name="profile_picture_url" value="{% static 'img/PP.jpg' %}" hidden>
            </div>

            <div class="row">
                <h3 class="col-xs-5">LinkedIn URL</h3>
            </div>

            <div class="row">
                <input type="text" id="linkedin-url" name="linkedin_url" class="col-xs-5 input-sm" value="" readonly/>
            </div>

            <div class="row">
                <h3 class="col-xs-5">First Name</h3>
                <h3 class="col-xs-5 pull-right">Last Name</h3>
            </div>
            <div class="row">
                <input type="text" id="first-name" name="first_name" class="col-xs-5 input-sm" value="" readonly/>
                <input type="text" id="last-name" name="last_name" class="col-xs-5 pull-right input-sm" value="" readonly/>
            </div>

            <div class="row">
                <h3 class="col-xs-5">Email Address</h3>
                <h3 class="col-xs-5 pull-right">Batch</h3>
            </div>
            <div class="row form-group">
                <input type="text" id="email" name="email" class="col-xs-5 input-sm" value="" readonly />
                <input type="number" name="batch" class="col-xs-5 pull-right input-sm" value="2016" />
            </div>

            <div class="row">
                <input type="submit" id="submit-button" class="btn btn-confirm" style="display: none">
            </div>
        </div>
    </form>
{% endblock %}

{% block script %}
<script>

document.getElementById("profile").className = "active";


function onLoad() {
    IN.Event.on(IN, 'auth', getData);
}

function getData() {
    IN.API.Profile("me")
    .fields("firstName",
        "lastName",
        "industry",
        "location:(name)",
        "picture-url",
        "headline",
        "summary",
        "num-connections",
        "public-profile-url",
        "distance",
        "positions",
        "email-address",
        "educations",
        "date-of-birth")
    .result(printData)
    .error(printError);
}

function printData(data) {
    data = data.values[0]
    document.getElementById('linkedin-button').style="display:none";
    document.getElementById('linkedin-url').value=data.publicProfileUrl;
    if (data.hasOwnProperty('pictureUrl')) {
        document.getElementById('pp-image').src=data.pictureUrl;
        document.getElementById('profile-picture-url').value=data.pictureUrl;
    }
    document.getElementById('first-name').value=data.firstName;
    document.getElementById('last-name').value=data.lastName;
    document.getElementById('email').value=data.emailAddress;
    document.getElementById('submit-button').removeAttribute('style');

}

function printError(data) {
    console.log(data);
}



</script>
{% endblock %}