{% extends 'main/layout/base.html' %}
{% block content %}
    <div class="container">
        {% for status in status_list %}
            <div class="row">
                {{ status.created_at }}
                <div class="well">
                    {{ status.content }}
                </div>
            </div>
        {% endfor %}
    </div>
    {% if own_profile %}
        <div class="container">
            <form action="{% url 'status:add_status' %}" method="POST">
                {% csrf_token %}

                <div class="row form-group">
                    <input type="text" id="status" name="status" class="col-xs-12 input-lg" required>
                </div>
                <div class="row form-group">
                    <input type="submit" class="btn btn-primary pull-right">
                </div>
            </form>
        </div>
    {% endif %}
{% endblock %}

{% block script %}
<script>
    document.getElementById("status").className = "active"
</script>
{% endblock %}