<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{ logged_in }} <br/>
{{ username }} <br/>
{{ npm }} <br/>
{{ role }} <br/>
{{ user.created_at }} <br/>
</body>
</html>