{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- bootstrap csss -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <title>
        Login
    </title>
</head>
<body>
<content>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="rata-tengah">
                    <div class="judul">
                        <h1> Halaman Login </h1>
                        <p class="text-info"> Gunakan <b> akun SSO </b> untuk login </p>
                    </div>
                    <form action="{% url 'auth:login' %}" method="POST">
                        {% csrf_token %}
                        <input name="return_url" value="{{ request.GET.return_url }}" type="hidden">
                        <p>
                            <label for="username"> Your username </label>
                            <input type="text" id="username" name="username" required>
                        </p>
                        <p>
                            <label for="password"> Your password </label>
                            <input type="password" id="password" name="password" required>
                        </p>
                        {% if request.GET.fail %}
                        <p style="color:red">Invalid username or password.</p>
                        {% endif %}
                        <input type="submit" class="btn btn-primary">
                    </form>
                </div>
            </div>
        </div>
    </div>
</content>

<!-- Jquery n Bootstrap Script -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>