{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <title>
        {% block title %} Tugas 2 PPW {% endblock %}
    </title>

    {% block head_script %}

    {% endblock %}
</head>
<body>

<content>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2> {{ name }} </h2>
            </div>
            <div class="panel-body">
                <div class="row">
                    <img src="{{ profile_picture_url }}" class="col-xs-2" style="max-width:250px">
                    <div class="col-xs-10">
                        <h3>{{ status_count }} status posted</h3>
                        <h3 style="font-style: italic">{{ latest_status }}</h3>
                    </div>
                </div>

            </div>
            <div class="panel-footer">
                {% if own_profile %}
                    <a href="{% url 'main:edit_profile' %}" class="btn btn-primary">Edit Profile
                        {% if needs_edit %}
                            (Please edit your profile first)
                        {% endif %}
                    </a>
                {% endif %}


                {% if logged_in %}
                    <a href="{% url 'auth:logout' %}" class="btn btn-danger">Logout</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container">
        <ul class="nav nav-tabs">
            <li id="profile"><a href="{% if own_profile %} {% url 'main:my_profile' %} {% else %} {% url 'main:profile' npm %} {% endif %}">Profile</a></li>
            <li id="status"><a href="{% if own_profile %} {% url 'main:my_status' %} {% else %} {% url 'main:status' npm %} {% endif %}">Status</a></li>
            <li id="history"><a href="{% if own_profile %} {% url 'main:my_history' %} {% else %} {% url 'main:history' npm %} {% endif %}">History</a></li>
            {% if own_profile %} <li id="friends"><a href="{% url 'main:my_friends' %}">Friends</a></li> {% endif %}
        </ul>
        <br/>
    </div>
    <div class="container">
        {% block content %}
            <!-- Your Content Here -->
        {% endblock %}
    </div>
</content>

<!-- Jquery n Bootstrap Script -->
<script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% block script %}
{% endblock %}
</body>
</html>

