{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- bootstrap csss -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <title>
        Login
    </title>
</head>
<body>
<content>
    <h1>Status</h1>

    <div class="container">
        {% for status in status_list %}
            <div class="row">
                {{ status.created_at }}
                <div class="well">
                    {{ status.content }}
                </div>
            </div>
        {% endfor %}
    </div>
    {% if own_status %}
        <div class="container">
            <form action="{% url 'status:add_status' %}" method="POST">
                {% csrf_token %}

                <div class="row form-group">
                    <input type="text" id="status" name="status" class="col-xs-12 input-lg" required>
                </div>
                <div class="row form-group">
                    <input type="submit" class="btn btn-primary pull-right">
                </div>
            </form>
        </div>
    {% endif %}
</content>

<!-- Jquery n Bootstrap Script -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>